{% extends "!layout.html" %}
{% block extrahead %}
    {{ super() }}
    {#<style>
    p.admonition-title + p {
      border: 1px solid #6ab0de;
      background-color: #eee;
      margin: -12px -12px 12px -12px;
      padding: 7px 10px;
      color: #666;
    }
    p.todo-source {
      background-color: #6ab0de;
      margin: -12px -12px 24px -12px;
      padding: 0px 10px;
      color: #fff;
      font-size: 10px;
    }
    p.todo-source a {
      color: #ccc;
    }
    </style>#}
{% endblock %}
